.jumbotron {
    background-color: darkred;
}

.flex-container {
    display: flex;
    margin:5rem;
    flex-direction: row;
    background-color: #17556b;
    justify-content: center;
    align-items:center;

}
.item-details {
    font-family: "Comic Sans MS", sans-serif;
    padding-top: 2rem;
    font-weight: lighter;
    color: #17556b;
    margin: .5rem;
    height: 20rem;
    width: 20rem;
    background-color: transparent;
}
.vocabulary-images {

    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    background-color: transparent;
}

.books-images{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    background-color: transparent;
}

.header-img {
    height:15rem;
    width:auto;
}
h1{
    font-family: "Comic Sans MS", sans-serif;
    font-weight: lighter;
    color: black;
}

h4{
    color: darkgoldenrod;
    border-top: 1px solid lightgrey;
    padding-top:1rem;
}


img {
    border-radius: 4px;
}
